{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>About me</h1>
  <p>Thanks for visiting my blog! This blog project is part of full developer course I am doing</p>
  <p>Another project added soon to pythonanywhere will be a social media website.</p>
  <p>More digital products can be seen on my portfolio website: <br>
  <a href="http://it-solution.tech/samples">IT Solution Tech</a> </p>
  <p>To fully test the blog you must create an account and more options will appeare (create,edit,delete post, etc)</p>
</div>
{% endblock %}
